# Ambiente Flask
FLASK_ENV=prod
SECRET_KEY=cdc-adm-secret-key-2026-production

# Banco de Dados PostgreSQL
POSTGRES_DB=cdc_adm_db
POSTGRES_USER=cdc_user
POSTGRES_PASSWORD=cdc_password
DATABASE_URL=postgresql://cdc_user:cdc_password@db:5432/cdc_adm_db

# Credenciais Iniciais de Seed
SEED_USER_PASSWORD=Orion@Security2026

# Porta
PORT=5050
